html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.w-90{
  width: 90%;
}

.orange{
  color: orange;
}

.text-dark-70{
  color: black;
  opacity: 70%;
}

.search{
  height: 40px;
  font-size: medium;
}

.searchBtn{
  background-color: rgb(233, 109, 7);
  color: white;
  border-width: 0px;
}

.imgSize{
  height: 100%;
  width: 100%;
}

.bg-gray{
  background-color: rgb(241, 241, 241);
}

.bg-light-gray{
  background-color: lightgray;
}

.bg-white{
  background-color: white;
}

.checkbox-lg{
  top: .8rem;
  scale: 1.4;
  margin-right: 0.7rem;
}

.borderGray{
  border-color: lightgray;
  border-radius: 10%;
}

.productImages{
  width: 520px;
  height: 600px;
}

img{
  max-width: 100%;
  max-width: 100%;
}

.productDetails{
  margin-left: 5%;
  margin-right: 5%;
}

.mt-small{
  margin-top: 1%;
}

.w-10{
  width: 10%;
}

.w-95{
  width: 95%;
}

.font-s{
  font-size: 90%;
}

.font-light-bold{
  font-weight: 500;
}

.text-turquoise{
  color: #23aea3;
}