html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.w-90{
  width: 90%;
}

.orange{
  color: orange;
}

.search{
  height: 40px;
  font-size: medium;
}

.searchBtn{
  background-color: rgb(233, 109, 7);
  color: white;
  border-width: 0px;
}

.imgSize{
  height: 100%;
  width: 100%;
}

.bg-gray{
  background-color: rgb(241, 241, 241);
}

.bg-white{
  background-color: white;
}

.checkbox-lg{
  top: .8rem;
  scale: 1.4;
  margin-right: 0.7rem;
}

.borderGray{
  border-color: lightgray;
  border-radius: 10%;
}